<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TasteBits"
        tools:targetApi="31">
        <activity
            android:name=".customer.activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".driver.activities.DriverMainActivity"
            android:exported="false"
            android:label="@string/title_activity_driver_main" />
        <activity
            android:name=".shift_supervisor.activities.ShiftSupervisorMainActivity"
            android:exported="false"
            android:label="@string/title_activity_shift_supervisor_main"
            android:theme="@style/Theme.TasteBits.NoActionBar" />
        <activity
            android:name=".restaurant.activities.RestaurantMainActivity"
            android:exported="false"
            android:label="@string/title_activity_restaurant_main" />
        <activity
            android:name=".customer.activities.RestaurantMenuActivity"
            android:exported="false" />
        <activity
            android:name=".shared.activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.activities.UserMainActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.TasteBits.NoActionBar" />
        <activity
            android:name=".shared.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".shared.activities.LoginActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>